body{
    
    height: 100vh;
}
#dv1{
    background-image: url(/pngegg.png);
    background-size: contain;
    background-repeat: no-repeat;


    width: 100px;
    height:100px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#dv2{
    background-image: url(/pngegg.png);
    background-size: contain;
    background-repeat: no-repeat;


    width: 100px;
    height:100px;
    position: absolute;
    left: 100px;
    top: 100px;
}

